@media screen and (max-width:1350px){
    .header .top_nav ul {
        margin-left: 150px;
     }

     .main_container img {
        width: 43%;
    }
}

@media screen and (max-width:1150px){
    .header .top_nav ul {
        margin-left: 10px;
     }
}

@media screen and (max-width:980px){

   .header .top_nav {
        padding: 15px 20px;
    }

    .header .top_nav .contact {
        margin-right: 20px;
    }

    .header .top_nav ul {
        margin-left: 0;
     }

     .header .main_container img {
        width: 47%;
    }

    body .contact .row {
        max-width:850px;
    }
}

@media screen and (max-width:800px){

    
    body .contact .row {
        max-width:750px;
    }

    .header .top_nav ul {
        display: none;
        margin-top: 30px;
     }

     .header h1{
         font-size: 50px;
     }

     .header .main_container .conten p {
         font-size: 13px;
     }

     .header .top_nav .contact {
        margin-right: 70px;
    }

    .header .fa-bars {
        display: block;
     }

    .header .top_nav ul li{
        margin: 20px 0;
     }

     .header .wrapper input[type="text"] {
        width: 197px;
    }

     .header .wrapper .btn {
        margin-left: 73px;
    }

    .header .fa-chevron-down {
        color: var(--white-color);
        position: absolute;
        top: 130%;
        left: 50%;
    }

    .protect {
        height: 140vh;
    }
     
    .protect > div{
        display: block;
    }

     .main_container img {
        display: none;
     }

     .main_container .conten {
        display: block;
        margin-left: 200px;
        margin-bottom: 100px;
    }

    .form #qa, input[type=text], .form #lname {
        width: 90%;
        margin-left: 15px;
    }

    .test .client-testimonials-container {
        padding: 0 100px;
    }

    .test .main-test h1::before {
        left: 17%;
    }
}

@media screen and (max-width:740px){
    .header .fa-chevron-down {
        left: 50%;
    }

    
    .header .main_container .conten {
        display: block;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:650px){
        
    body .contact .row {
        width: 90%;
    }

    .funeral .f_container, .contact .grid-2, .about .grid-2 {
        display: block;
        margin: 0 30px;
    }

    .funeral .f_container .d-boxs {
        transform: translateY(120px);
        -webkit-transform: translateY(120px);
        -moz-transform: translateY(120px);
        -ms-transform: translateY(120px);
        -o-transform: translateY(120px);
    }

    
    .test .client-testimonials-container {
        padding: 0 20px;
    }

    .test .main-test h1::before {
        left: 0;
    }
}

@media screen and (max-width:500px){
    body .header{
        width: 100%;
    }

    .p-img img{
        width: 350px;
    }

    .form .grid-2{
        display: block;
    }

    .header .wrapper {
        display: none;
    }

    .header .main_container {
        height: 90%;
        width: 100%;
        margin:0 10px;
    }


}
