@media screen and (max-width:1350px){
    .header .top_nav ul {
        margin-left: 150px;
     }

     .main_container img {
        width: 43%;
    }
}

@media screen and (max-width:1150px){
    .header .top_nav ul {
        margin-left: 10px;
     }
}

@media screen and (max-width:980px){

   .header .top_nav {
        padding: 15px 20px;
    }

    .header .top_nav .contact {
        margin-right: 20px;
    }

    .header .top_nav ul {
        margin-left: 0;
     }

     .main_container img {
        width: 47%;
    }
}

@media screen and (max-width:800px){

    .header .top_nav ul {
        display: block;
        margin-top: 40px;
     }

    .header .top_nav ul li{
        margin: 20px 0;
     }

     .header .wrapper input[type="text"] {
        width: 197px;
    }

     .header .wrapper .btn {
        margin-left: 73px;
    }

    .protect {
        height: 70vh;
    }
     
    .protect > div{
        display: block;
    }

     .main_container img {
        display: none;
     }

     .main_container .conten {
        display: block;
        margin-left: 200px;
        margin-bottom: 300px;
    }

    .form #qa, input[type=text], .form #lname {
        width: 90%;
        margin-left: 15px;
    }

    .test .client-testimonials-container {
        padding: 0 100px;
    }

    .test .main-test h1::before {
        left: 17%;
    }
}

@media screen and (max-width:740px){
    .header .fa-chevron-down {
        left: 50%;
    }
}

@media screen and (max-width:650px){
    .protect {
        height: 80vh;
    }

    .funeral .f_container {
        display: block;
        margin: 0 50px;
    }

    .funeral .f_container .d-boxs {
        transform: translateY(120px);
        -webkit-transform: translateY(120px);
        -moz-transform: translateY(120px);
        -ms-transform: translateY(120px);
        -o-transform: translateY(120px);
    }

    
    .test .client-testimonials-container {
        padding: 0 20px;
    }

    .test .main-test h1::before {
        left: 0;
    }
}

@media screen and (max-width:500px){
    body .header{
        width: 100%;
    }

    .p-img img{
        width: 350px;
    }

    .form .grid-2{
        display: block;
    }

    .header .wrapper {
        width: 340px;
        display: flex;
    }

    .header .wrapper .btn {
        margin-left: 0;
    }

    .main_container .conten {
        display: block;
        margin-left: 100px;
        margin-bottom: 300px;
    }
}
